<div class="container">
    <h1 class="mt-5">Pokemon finder</h1>
    <hr>
    <input type="text" id="inputByName" placeholder="Search by name">
    <input type="text" id="inputByType" placeholder="Search by type">
    <p id="pokemonName" class="mt-5"></p>

</div>
<div class="container justify-content-center" id="pokemonList">
    <figure>
        <img id="pokemonImage" class="pokemonCard" src="" alt="">
    </figure>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/services/pokemon.services.js"></script>
<script src="/js/pokemon-finder.js"></script>