.pokemonCard {
    width: 100%;
}

#gymMap {
    height: 80vh;
    background-color: rgb(255, 255, 255);
}


body {
    /* height: 100vh; */
    /* background-image: url('./../images/pokeball2.png'); */
    background-color: #F9E0DB;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
    background-position: absolute;
}


.avatars {
    */ .avatars {
        height: 20px;
    }