.pokemonCard {
    width: 100%;
}

#gymMap {
    height: 80vh;
    background-color: red;
}

/*
body {
    height: 100vh;
    background-image: url('./../images/Vaporeon.webp');
    background-repeat: no-repeat;
    background-size: 20%;

    background-position: bottom right;
}

*/
.avatars {
    height: 20px;
}