<div class="container">
    <h1>Gyms</h1>
    <figure id="gymMap"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/services/gym.services.js"></script>
<script src="/js/gym-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyC2t4pSMB4WJlfeVHAPeqAcMV2aa2aeff0&language=en"></script>