<div class="container mt-5">
    <h1>Teams</h1>
    <hr>
    <table class="table">
        <tbody>
            {{#each trainers}}
            <tr>
                <td>
                    <img class="avatars" src="{{avatar}}" alt="avatar"> {{username}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>