<div class="container mt-3">
    <h2>Teams</h2>
    <div class="row">
        {{#each response}}
        <div class="col-6">
            <div class="mb-4 border shadow p-3 mb-5 bg-body rounded backgroundImageAdjust" style="width: 100%;">
                <div class="card-body">
                    <h5
                        class="card-title text-center bodyBackground border border-secondary-subtle rounded teamListCardTitle">
                        {{username}}</h5>
                    <div class="row">
                        {{#each team}}
                        <div class="col-md-3">{{this}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>